body {
    margin: 0;
padding: none;
}

h1 { font-family: Papyrus, fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: Papyrus, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Papyrus, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Papyrus, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Papyrus, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

/*------------------------------------------  Container --------------------------------------------*/

.container { 
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}



/*------------------------------------------ Body Head --------------------------------------------*/

.body-head {
    display: grid;
    background-color: #27374D;
    grid-template-columns: 100px 50px;
    color: white;
}

.body-head-heading {
    color: white;

}
/*------------------------------------------ Body Body --------------------------------------------*/

.body-body {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
}

/* Body Left */

.body-left {
    background-color: #DDE6ED;
}

.body-left-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Book Content */

.book-contents {
    margin: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    max-height: 300px;
    overflow: hidden;
    transition: transform .2s;
}

.book-contents:hover { 
    transform: scale(1.1);

}



/* Book Content Top */
.book-contents-top {
    background-color: #F8F1F1 ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.book-contents-top i {
    font-size: 90px;
}

/* Book Content Bottom */

.book-contents-bottom {
    padding-left: 10px;

}

.book-title {
    font-weight: bolder;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 6px;
}


/* Body Right */

.body-right {
    background-color: #526D82;
}

/* Buttons */

.button {
    align-items: center;
    background-color: #9BA4B5;
    border: 0;
    border-radius: 18px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    width: 380px;
    min-height: 70px;
    overflow: hidden;
    padding: 0px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 20px;
  }
  
  .button:hover,
  .button:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }

  /* Form */

  #bookForm {
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }

.form-row {
    display: flex;
    gap: 90px;
    margin-bottom: 15px;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.form-row-grid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.form-buttons {
    padding-top: 100px;
}

.cancel {
    padding-top: 10px;
}

.form-info input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 280px;
    padding: 7px;
    font-size: 14px;
}
